$clr-primary: #006CFB;
$clr-grey: #545454;
$clr-lightblue: #5196f6;
$clr-primary1: #F5F9FF;
$clr-primary2:#E5F0FF;
$clr-green:#37b95e;
$clr-light:#E6F4FB;
$clr-grey1: #F0F0F0;
$clr-darkblue: #161C34;
$clr-yellow:rgb(255, 204, 0);
$clr-grey2:#F8F8F8;

