// ======================== style for footer section ================//
.foot1{
    width: 93% !important;
    border-bottom: 1px solid white!important;
}
.foot-2{
    border-bottom: 1px dashed white;
}
.foot-3{
    border-top: 1px dashed white;
}
.lh{
    line-height: 31px;
}